.rootBack {
    -fx-font-size: 15px;
    -fx-font-family: sans-serif;
    -fx-background-color: #242424;
    
}
.rootVboxPad{
	-fx-padding: 0px 0px 0px 5px;
}
ImageView{
	-fx-pref-width: 55px;
	-fx-pref-height: 55px;
}
.encadreButton{
	-fx-background-color: #dedede;
	-fx-background-radius: 15px;
	-fx-border-color: #161616;
	-fx-border-radius: 15px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.encadreButton:pressed{
	-fx-background-color: #dedede;
	-fx-border-color: #161616;
	-fx-background-radius: 15px;
	-fx-border-radius: 15px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 30, 0, 0, 0);
}
Button{	
	-fx-background-color: none;	
}
.encadreHBox{
	-fx-padding: 15px;
    
	-fx-background-color: white;
	-fx-background-radius: 15px;
	-fx-border-color: #161616;
	-fx-border-radius: 15px;
}
HBox{
	-fx-text-fill: black;
	-fx-fit-to-width: true;
}
.GlobalHBox{
	-fx-pref-height: 75px; 
	-fx-text-fill: black;
	-fx-pref-width: 1250px;
	-fx-fit-to-width: true;
	-fx-padding: 8px 0px 8px  0px ;
    -fx-border-insets:  8px 0px 8px  0px ;
    -fx-background-insets:  8px 0px 8px  0px ;
}
ScroolPane{
	-fx-background-color: #242424;
}
.scroll-pane {
    -fx-background: #242424;
    -fx-border-color: #242424;
    -fx-text-fill: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#242424;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.increment-button, .decrement-button {
    -fx-background-color: #242424;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #242424;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #dedede;
    -fx-background-radius: 5em;
}
GridPane{
	-fx-border-width: 0px;
	-fx-background-color: #242424;
}
.encadreSubHbox{
	-fx-background-color: #ededed;
	-fx-background-radius: 15px;
	-fx-padding: 5px 5px 5px 5px ;
}
.SubHBox{
	-fx-pref-height: 70px; 
	-fx-pref-width:980px;
	-fx-fit-to-width: true;
	-fx-padding: 3px 3px 3px  105px ;
    -fx-border-insets:  3px 3px 3px  105px ;
    -fx-background-insets:  3px 3px 3px  105px ;
	
}
.addSubPadding{
	-fx-padding: 3px 3px 3px  125px ;
    -fx-border-insets: 3px 3px 3px  125px ;
    -fx-background-insets: 3px 3px 3px  125px ;
    -fx-text-fill: white;
}
.addSubPadding:pressed{

    -fx-text-fill: #a6a6a6;
}
.deleteButtonGlobale{
	-fx-padding: 20px 0px 15px 15px;
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.5), 10, 0, 0, 0);
}
.deleteButtonGlobale:pressed{
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.3), 50, 0, 0, 0);
}
.textFieldGlobale{
	-fx-text-fill: black;
	-fx-padding: 15px 15px 15px 15px;
}
.timeFielGlobale{
	-fx-text-fill: black;
	-fx-padding: 15px 0px 15px 115px;
}
.textFieldSub{
	-fx-text-fill: black;
	-fx-padding: 15px 3px 15px 1px;
}
.textFielNameSub{
	-fx-text-fill: black;
	-fx-padding: 15px 3px 15px 10px;
}
.buttonSub{
	-fx-padding: 8px 8px 0px 8px;
}
.buttonSubTrash{
	-fx-padding: 13px 0px 0px 9px;
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.5), 10, 0, 0, 0);
}
.buttonSubTrash:pressed{
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.3), 50, 0, 0, 0);
}
.boldText{
	-fx-font-weight: bold;
}

.createGlobalTask{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-padding: 13px 0px 30px 520px;
    -fx-border-insets: 13px 500px 10px 500px;
    -fx-background-insets: 13px 500px 10px 500px ;
}
.createGlobalTask:pressed{
	-fx-text-fill: #a6a6a6;
}
.buttonParamsAndToogle{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}
.buttonParamsAndToogle:pressed{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 50, 0, 0, 0);
}
.appName{
	-fx-text-fill: white;
	-fx-font-size: 25px;
	-fx-padding: 13px 0px 0px 0px;
	-fx-font-weight: bold;
}
.settingsTitle{
	-fx-font-size: 25px;
	-fx-padding: 13px 0px 0px 435px;
	-fx-font-weight: bold;
}
.rootSettings{
	-fx-background-color: #dedede;
}
.parameterName{
	-fx-font-size: 18px;
	-fx-padding: 18px 0px 8px 3px;
	-fx-font-weight: bold;
}
.saveButtonBox{
	-fx-padding: 35px 0px 15px 330px;
}
.timeBox > Label{
	-fx-padding: 3px 0px 0px 0px;
}
.buttonActionSetting{
	-fx-pref-width: 180px;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
	-fx-background-color: #dedede;
	-fx-background-radius: 5px;
	-fx-text-fill: #242424;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.buttonActionSetting:pressed{
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
	-fx-background-color: #dedede;
	-fx-background-radius: 5px;
	-fx-text-fill: #242424;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 200, 0, 0, 0);
}
.helpIcon{
	-fx-padding: 18px 0px 8px 3px;
}
.rootCreateSub{
	-fx-background-color: #dedede;
}

.buttonActionCreateSub{
	-fx-pref-width: 220px;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
	-fx-background-color: #dedede;
	-fx-background-radius: 5px;
	-fx-text-fill: #242424;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.buttonActionCreateSub:pressed{
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
	-fx-background-color: #dedede;
	-fx-background-radius: 5px;
	-fx-text-fill: #242424;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 200, 0, 0, 0);
}
.createButtonBoxSub{
	-fx-padding: 35px 0px 15px 290px;
}
.createSubTitle{
	-fx-font-size: 25px;
	-fx-padding: 13px 0px 0px 370px;
	-fx-font-weight: bold;
}
.createTitle{
	-fx-font-size: 25px;
	-fx-padding: 13px 0px 0px 405px;
	-fx-font-weight: bold;
}
.createButtonBox{
	-fx-padding: 35px 0px 15px 290px;
}
.paramsTitle{
	-fx-font-size: 25px;
	-fx-padding: 13px 0px 0px 320px;
	-fx-font-weight: bold;
}
.deleteTitle{
	-fx-font-size: 17px;
	-fx-padding: 15px 0px 15px 15px;
	-fx-font-weight: bold;
}
.deleteTitleGlobale{
	-fx-font-size: 17px;
	-fx-padding: 15px 0px 15px 45px;
	-fx-font-weight: bold;
}
.deleteButtonBox{
	-fx-padding: 10px 0px 15px 15px;
}
